<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bahmni Patient Feedback</title>
</head>
<body>

<form ng-submit="submitFeedback()">

    <label>Patient Name</label>
    <input type="text" ng-model="feedback.patientName" required>

    <label>Feedback date</label>
    <input type="text" ng-model="feedback.date" required>

    <label>Feedback type</label>
   <select ng-model="feedback.type">
       <option value="Positive">Positive</option>
       <option value="Negative">Negative</option>
       <option value="Neutral">Neutral</option>
   </select>

    <label>Feedback</label>
    <textarea ng-model="feedback.text" required></textarea>

    <button type="submit">Submit Feedback</button>

</form>

</body>
</html>